
.header {
  padding-top: 30px;
  padding-left: 40px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 20px;
  background-color: lightgoldenrodyellow;
}

.task-add-and-task-ul {
  padding: 10px;
  width: 200px;
  margin-left: 40px;
  border: solid 1px black;
}

.add-task-input {
  height: 20px;
  width: 190px;
  padding-left: 10px;
  font-family: 'Exo 2', sans-serif;
}

.task-input-form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.task-ul {
  margin-top: 7px;
  font-size: 13px;
}

.task-checkbox {
  margin-right: 7px;
}